# Note! Order matters which makes it possible to run particular
# command if a file changes in a directory and another command for all
# other files in that directory.

DIRECTORIES = (

  ('some/place/', './myframework test --dir some/place'),
  
  ('some/place/unitests.py', 
   './myframework test --dir some/place --testclass Unittests'),

  (('/path', '/path/sub', '/extra/path/elsewhere'),
   'ping www.fdny.com'),

  ('/var/log/torrentsdownload.log',
   'growl downloads --logfile /var/log/torrentsdownload.log'),
)
